{% extends 'base.html.twig' %}

{% block content %}
    <div class="starter-template" style="margin-top: 100px;">
        <h1>Compic - COMpare PICtures</h1>
        <p class="lead">Project under FIT CVUT.</p>
    </div>
{% endblock %}